{% extends 'base.html.twig' %}

{% block title %}Welcome to Foddie!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
      <h1>Welcome to Foddie!</h1>
      <img src="https://www.fuddie.com/wp-content/uploads/2019/03/cropped-logo-menu-1.png" alt="Fuddie">
    </div>

    This friendly message is coming from:
    <ul>
        <li><code><a href="#install">Installation</a></code></li>
        <li><code><a href="#tools">Tools</a></code></li>
        <li><code><a href="#test">Test</a></code></li>
        <li><code><a href="#api">API</a></code></li>
        <li><code><a href="#admin">Admin</a></code></li>
    </ul>

    <div class="section">
      <h2><a id="install" href="#install">Installation</a></h2>
      <p>Run the containers</p>
      <code>docker-compose up -d</code>
      <p>Run container shell for php-fpm</p>
      <code>docker-compose exec php-fpm bash</code>
      <p>And install all the dependencies</p>
      <code>composer install</code>
      <p>Open your browser in <a href="http://localhost:8000">http://localhost:8000</a></p>
    </div>

    <div class="section">
      <h2><a id="tools" href="#tools">Tools</a></h2>

      <h3>Install SSH keys</h3>
      <p>You can do this by running the next command, which will create ssh keys.</p>
      <code>bash tools/generate_ssh_keys.sh</code>
      <p>
        <small>**Note: <strong>Set environment var in app.env file.</strong></small>
      </p>

      <h3>Install Database</h3>
      <p>You can do this by running the next command, which will create a clean database and schema.</p>
      <code>bash tools/clean-install.sh</code>
      <p>
        <small>**Note: <strong>This script will actually delete any database that's already created, so be careful when using this.</strong></small>
      </p>

      <h3>Install Database and Fixtures</h3>
      <p>If you want to create the database with some fixtures or random data, you can run the next command</p>
      <code>bash tools/install-fixtures.sh</code>
      <p><small>**Note: <strong>This script will actually delete any database that's already created, so be careful when using this.</strong></small></p>

      <h3>Clean Cache</h3>
      <p>Run the next command with the environment parameter (<strong>dev</strong> or <strong>prod</strong>), to clean cache.</p>
      <code>bash tools/cache.sh</code>
    </div>

    <div class="section">
      <h2><a id="test" href="#test">Tests</a></h2>
      <p>Run all Test</p>
      <code>./bin/phpunit</code>
    </div>

    <div class="section">
      <h2><a id="api" href="#api">API Document</a></h2>
      <p>See <a href="/api/doc" target="_blank">API Document</a></p>
    </div>

    <div class="section">
      <h2><a id="admin" href="#admin">Admin Section</a></h2>
      <p>Go to <a href="/admin" target="_blank">Admin</a></p>
    </div>

    <div class="section">
      <h2><a id="postman" href="#postman">Postman</a></h2>
      <p>Import <strong>Fuddie_postman_collection.json</strong> to Postman for execute all request.</p>
      <p><small>**Note: For more info visit next link <a href="https://developer.ft.com/portal/docs-start-install-postman-and-import-request-collection" target="_blank"> Install Postman and Import Request Collection</a> </small></p>

    </div>

</div>
{% endblock %}
